In [190]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance
from datetime import datetime, date, time, timedelta
import matplotlib.pyplot as plt
import re

ImportError: cannot import name 'izip' from 'itertools' (unknown location)

In [139]:
# Import CSV

tic = timeit.default_timer()                            # Monitor performance

colonias_df = pd.read_csv("Routes/coloniascdmxv2.csv", index_col='id', header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to import CSV file: {round(toc - tic, 2)}')
colonias_df

Time (in seconds) to import CSV file: 0.08

,nombre,entidad,geo_point_2d,geo_shape,alcaldia,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
id,,,,,,,,,,,,,,,,,,,,,
0,LOMAS DE CHAPULTEPEC,9,"19.4228411174,-99.2157935754","{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),9,"19.4106158914,-99.2262487268","{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DEL BOSQUE (POLANCO),9,"19.4342189235,-99.2094037513","{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PEDREGAL DE SANTA URSULA I,9,"19.314862237,-99.1477954505","{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJUSCO I,9,"19.324571116,-99.1561602234","{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,LA VIRGEN 1170 (U HAB),9,"19.3235620501,-99.1041300516","{""type"": ""Polygon"", ""coordinates"": [[[-99.1049...",COYOACAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1808,AVIACION CIVIL,9,"19.4151260367,-99.0796617119","{""type"": ""Polygon"", ""coordinates"": [[[-99.0810...",VENUSTIANO CARRANZA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1809,TAXQUEA,9,"19.3392324,-99.1232106865","{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,9,"19.3307417643,-99.1221305228","{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,JARDIN BALBUENA I,9,"19.4215844077,-99.1053538347","{""type"": ""Polygon"", ""coordinates"": [[[-99.1118...",VENUSTIANO CARRANZA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
colonias_df_test= colonias_df.copy()

In [141]:
colonias_df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1810 entries, 0 to 1811
Columns: 148 entries, nombre to Unnamed: 148
dtypes: float64(1), object(147)
memory usage: 2.1+ MB

In [142]:
colonias_df_test.drop(colonias_df_test.iloc[:,5:], inplace=True, axis=1)
colonias_df_test

,nombre,entidad,geo_point_2d,geo_shape,alcaldia
id,,,,,
0,LOMAS DE CHAPULTEPEC,9,"19.4228411174,-99.2157935754","{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),9,"19.4106158914,-99.2262487268","{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),9,"19.4342189235,-99.2094037513","{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,9,"19.314862237,-99.1477954505","{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,AJUSCO I,9,"19.324571116,-99.1561602234","{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN
...,...,...,...,...,...
1807,LA VIRGEN 1170 (U HAB),9,"19.3235620501,-99.1041300516","{""type"": ""Polygon"", ""coordinates"": [[[-99.1049...",COYOACAN
1808,AVIACION CIVIL,9,"19.4151260367,-99.0796617119","{""type"": ""Polygon"", ""coordinates"": [[[-99.0810...",VENUSTIANO CARRANZA
1809,TAXQUEA,9,"19.3392324,-99.1232106865","{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,9,"19.3307417643,-99.1221305228","{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1811,JARDIN BALBUENA I,9,"19.4215844077,-99.1053538347","{""type"": ""Polygon"", ""coordinates"": [[[-99.1118...",VENUSTIANO CARRANZA

In [143]:
colonias_df_test.drop(['entidad', 'geo_point_2d'], inplace=True, axis=1)
colonias_df_test

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,AJUSCO I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"{""type"": ""Polygon"", ""coordinates"": [[[-99.1049...",COYOACAN
1808,AVIACION CIVIL,"{""type"": ""Polygon"", ""coordinates"": [[[-99.0810...",VENUSTIANO CARRANZA
1809,TAXQUEA,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1811,JARDIN BALBUENA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1118...",VENUSTIANO CARRANZA

In [144]:
for index, row in colonias_df_test.iterrows():
    if type(row['geo_shape']) != str:
        print("We have an imposter!")
        colonias_df_test.drop(index, inplace=True, axis=0)
colonias_df_test

We have an imposter!
We have an imposter!
We have an imposter!
We have an imposter!

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,AJUSCO I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"{""type"": ""Polygon"", ""coordinates"": [[[-99.1049...",COYOACAN
1808,AVIACION CIVIL,"{""type"": ""Polygon"", ""coordinates"": [[[-99.0810...",VENUSTIANO CARRANZA
1809,TAXQUEA,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",COYOACAN
1811,JARDIN BALBUENA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1118...",VENUSTIANO CARRANZA

In [145]:
colonias_df_test['geo_shape'] = colonias_df_test['geo_shape'].map(lambda x: x.lstrip('{"type": "Polygon", "coordinates": ').rstrip('}'))
colonias_df_test

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[[[-99.22017088373187, 19.428032506497445], [-...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[[-99.22967474076427, 19.4140557307484], [-99...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[[-99.2082100184801, 19.432815650005196], [-9...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[[-99.14587387461441, 19.319786927215006], [-...",COYOACAN
4,AJUSCO I,"[[[-99.15854038211513, 19.330376399703336], [-...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[[[-99.10493970345819, 19.32346259135912], [-9...",COYOACAN
1808,AVIACION CIVIL,"[[[-99.08101431442913, 19.411363516628217], [-...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[[[-99.12370923826415, 19.340946565372356], [-...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[[-99.12372138614238, 19.332091187760017], [-...",COYOACAN
1811,JARDIN BALBUENA I,"[[[-99.11181641095084, 19.42423574988566], [-9...",VENUSTIANO CARRANZA

In [146]:
colonias_df_test['geo_shape'] = colonias_df_test['geo_shape'].map(lambda x: x[1:-1])
colonias_df_test

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1808,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1811,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [147]:
colonias_df_test['geo_shape'] = colonias_df_test['geo_shape'].map(lambda x: x[1:-1])
colonias_df_test

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[-99.22017088373187, 19.428032506497445], [-99...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[-99.22967474076427, 19.4140557307484], [-99.2...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[-99.2082100184801, 19.432815650005196], [-99....",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[-99.14587387461441, 19.319786927215006], [-99...",COYOACAN
4,AJUSCO I,"[-99.15854038211513, 19.330376399703336], [-99...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[-99.10493970345819, 19.32346259135912], [-99....",COYOACAN
1808,AVIACION CIVIL,"[-99.08101431442913, 19.411363516628217], [-99...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[-99.12370923826415, 19.340946565372356], [-99...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[-99.12372138614238, 19.332091187760017], [-99...",COYOACAN
1811,JARDIN BALBUENA I,"[-99.11181641095084, 19.42423574988566], [-99....",VENUSTIANO CARRANZA

In [278]:
colonias_df_test2= colonias_df_test.copy()
colonias_df_test2

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[-99.22017088373187, 19.428032506497445], [-99...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[-99.22967474076427, 19.4140557307484], [-99.2...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[-99.2082100184801, 19.432815650005196], [-99....",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[-99.14587387461441, 19.319786927215006], [-99...",COYOACAN
4,AJUSCO I,"[-99.15854038211513, 19.330376399703336], [-99...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[-99.10493970345819, 19.32346259135912], [-99....",COYOACAN
1808,AVIACION CIVIL,"[-99.08101431442913, 19.411363516628217], [-99...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[-99.12370923826415, 19.340946565372356], [-99...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[-99.12372138614238, 19.332091187760017], [-99...",COYOACAN
1811,JARDIN BALBUENA I,"[-99.11181641095084, 19.42423574988566], [-99....",VENUSTIANO CARRANZA

In [279]:
colonias_df_test2['geo_shape'] = colonias_df_test2['geo_shape'].map(lambda x: x.replace('[', '').replace(']', ''))
colonias_df_test2

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"-99.22017088373187, 19.428032506497445, -99.22...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"-99.22967474076427, 19.4140557307484, -99.2296...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"-99.2082100184801, 19.432815650005196, -99.208...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"-99.14587387461441, 19.319786927215006, -99.14...",COYOACAN
4,AJUSCO I,"-99.15854038211513, 19.330376399703336, -99.15...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"-99.10493970345819, 19.32346259135912, -99.104...",COYOACAN
1808,AVIACION CIVIL,"-99.08101431442913, 19.411363516628217, -99.08...",VENUSTIANO CARRANZA
1809,TAXQUEA,"-99.12370923826415, 19.340946565372356, -99.12...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"-99.12372138614238, 19.332091187760017, -99.12...",COYOACAN
1811,JARDIN BALBUENA I,"-99.11181641095084, 19.42423574988566, -99.111...",VENUSTIANO CARRANZA

In [280]:
colonias_df_test2['geo_shape'] = colonias_df_test2['geo_shape'].map(lambda x: x.split(', '))
colonias_df_test2

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[-99.22017088373187, 19.428032506497445, -99.2...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[-99.22967474076427, 19.4140557307484, -99.229...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[-99.2082100184801, 19.432815650005196, -99.20...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[-99.14587387461441, 19.319786927215006, -99.1...",COYOACAN
4,AJUSCO I,"[-99.15854038211513, 19.330376399703336, -99.1...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[-99.10493970345819, 19.32346259135912, -99.10...",COYOACAN
1808,AVIACION CIVIL,"[-99.08101431442913, 19.411363516628217, -99.0...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[-99.12370923826415, 19.340946565372356, -99.1...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[-99.12372138614238, 19.332091187760017, -99.1...",COYOACAN
1811,JARDIN BALBUENA I,"[-99.11181641095084, 19.42423574988566, -99.11...",VENUSTIANO CARRANZA

In [281]:
colonias_df_test3 = colonias_df_test2.dropna().copy()
colonias_df_test3

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[-99.22017088373187, 19.428032506497445, -99.2...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[-99.22967474076427, 19.4140557307484, -99.229...",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[-99.2082100184801, 19.432815650005196, -99.20...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[-99.14587387461441, 19.319786927215006, -99.1...",COYOACAN
4,AJUSCO I,"[-99.15854038211513, 19.330376399703336, -99.1...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[-99.10493970345819, 19.32346259135912, -99.10...",COYOACAN
1808,AVIACION CIVIL,"[-99.08101431442913, 19.411363516628217, -99.0...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[-99.12370923826415, 19.340946565372356, -99.1...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[-99.12372138614238, 19.332091187760017, -99.1...",COYOACAN
1811,JARDIN BALBUENA I,"[-99.11181641095084, 19.42423574988566, -99.11...",VENUSTIANO CARRANZA

In [282]:
def createPairs(x):
    lst = []
    while(x):
        a = float(x.pop(0))
        b = float(x.pop(0))
        lst.append([a,b])

    return lst

In [283]:
for index, row in colonias_df_test3.iterrows():
    try:
        lst = createPairs(row['geo_shape'])
    #     print(lst)
        colonias_df_test3.at[index, 'geo_shape'] = lst
    except: colonias_df_test3.drop(index, axis=0, inplace=True)
colonias_df_test3

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1808,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1811,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [291]:
for index, row in colonias_df_test3.iterrows():
    if type(row['geo_shape']) == list: continue
    else: colonias_df_test3.drop(index, axis=0, inplace=True)
colonias_df_test3

,nombre,geo_shape,alcaldia
id,,,
0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...
1807,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1808,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1809,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1811,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [292]:
colonias_df_test3.reset_index(drop=True, inplace=True)
colonias_df_test3

,id,nombre,geo_shape,alcaldia
0,0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...,...
1799,1807,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1800,1808,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1801,1809,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1802,1810,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1803,1811,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [296]:
colonias_df_test3

,nombre,geo_shape,alcaldia
0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...
1799,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1800,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1801,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1802,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1803,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [295]:
colonias_df_test3.drop('id', axis=1, inplace=True)
colonias_df_test3
 = colonias_df_test3.rename(index="id")

KeyError: "['id'] not found in axis"

In [284]:
test = colonias_df_test3.loc['0','geo_shape'].copy()
test

[[-99.22017088373187, 19.428032506497445],
 [-99.2200897807236, 19.428069175217992],
 [-99.21951996031858, 19.428546640136656],
 [-99.21943853488403, 19.428598281818612],
 [-99.21903103559853, 19.428579445152984],
 [-99.21882735069474, 19.428618348198647],
 [-99.21843369222695, 19.428792780710907],
 [-99.21814198750202, 19.429031518970774],
 [-99.21797231818857, 19.42911548053486],
 [-99.21782298809192, 19.429173645913995],
 [-99.21748347716157, 19.429212710365032],
 [-99.21709625045924, 19.429363649993036],
 [-99.21699987389329, 19.42952084682926],
 [-99.21678560823798, 19.429697466807344],
 [-99.21639976599744, 19.429892379734834],
 [-99.21614722822716, 19.429965035029365],
 [-99.21595187836095, 19.43002857765224],
 [-99.21589222960067, 19.43003417013702],
 [-99.21533233206814, 19.430490970009934],
 [-99.21577686102736, 19.431050792545076],
 [-99.21565016213559, 19.431166248607536],
 [-99.21543842650041, 19.431359194980523],
 [-99.21482912877784, 19.43191442016071],
 [-99.21475324415816, 19.43198356994086],
 [-99.21355325144573, 19.432921071292313],
 [-99.21262306466085, 19.43304074677729],
 [-99.21252499292348, 19.433053364151906],
 [-99.2112436897411, 19.433218204586158],
 [-99.20998573538189, 19.43337633145333],
 [-99.20995073807774, 19.433379138531375],
 [-99.20992487132571, 19.433381213257967],
 [-99.20984572758707, 19.433387561214566],
 [-99.20985701230191, 19.433333061047115],
 [-99.20986070502826, 19.433315226808812],
 [-99.20987114496698, 19.433264806491735],
 [-99.20989226361121, 19.433162812623717],
 [-99.20974208333635, 19.432894021274112],
 [-99.20939891302329, 19.432162925335568],
 [-99.2091499708619, 19.43165328624622],
 [-99.20893586701037, 19.431411246018893],
 [-99.20886403999589, 19.431396986675104],
 [-99.20883983545731, 19.431392181500595],
 [-99.2088019339778, 19.43138465715166],
 [-99.20878260105152, 19.43138081910072],
 [-99.2087279924194, 19.43136997796144],
 [-99.20870446088898, 19.431365306375817],
 [-99.20858264149918, 19.43134112218761],
 [-99.20828459129577, 19.43129189712149],
 [-99.20772797620252, 19.43128218103323],
 [-99.20740039903467, 19.43115313267683],
 [-99.20650463368511, 19.430491508590148],
 [-99.20541765211247, 19.429643727427564],
 [-99.20425053116217, 19.428753970559363],
 [-99.20414344250997, 19.428655052117183],
 [-99.20346755349972, 19.42803072503796],
 [-99.20330530356165, 19.42790971093618],
 [-99.2032594985425, 19.427875547207478],
 [-99.20348619111121, 19.427753340582754],
 [-99.2035020942395, 19.42765704798313],
 [-99.20350569777126, 19.427635882823964],
 [-99.20350657818793, 19.427615228693558],
 [-99.20392682029414, 19.427428236810194],
 [-99.20399429206984, 19.427415650869573],
 [-99.20396023190135, 19.427304390386098],
 [-99.20365823876494, 19.426753080882108],
 [-99.20338033398455, 19.426130503571816],
 [-99.20357266494938, 19.42549789560067],
 [-99.2035515272376, 19.42535869305898],
 [-99.20358307590995, 19.424505620703975],
 [-99.2035917987842, 19.424028263767024],
 [-99.20369840905185, 19.42359499585048],
 [-99.20390278472674, 19.42310857953629],
 [-99.2042003323349, 19.422622058240446],
 [-99.20427052078067, 19.42254053027074],
 [-99.20439020191832, 19.42240151340547],
 [-99.20447425959813, 19.42252932050244],
 [-99.20496374762003, 19.423455364293595],
 [-99.2050470128245, 19.423432937517905],
 [-99.20545058314858, 19.42332423865114],
 [-99.20588464768451, 19.423323747082694],
 [-99.2062024712661, 19.423494139123438],
 [-99.20730861179815, 19.42258731860464],
 [-99.20753817448072, 19.42241265098334],
 [-99.20781379633134, 19.422318904323223],
 [-99.20896347619727, 19.421902221451237],
 [-99.21115010646004, 19.42113040562553],
 [-99.21149682919265, 19.42017700110692],
 [-99.21152955023449, 19.420095989048523],
 [-99.21185659746929, 19.41916129298247],
 [-99.21245203247753, 19.417628320932117],
 [-99.21266859840667, 19.417565779840935],
 [-99.21289816451709, 19.417403562983615],
 [-99.21319323442313, 19.41712915116232],
 [-99.21330577240997, 19.417003462125987],
 [-99.21327156512994, 19.41695050116911],
 [-99.21317054460783, 19.416794097275293],
 [-99.21376006228188, 19.416302617717506],
 [-99.2142412997031, 19.415960545428266],
 [-99.21455605511535, 19.415817080449724],
 [-99.21509800667455, 19.415606005104074],
 [-99.2155955981522, 19.41537637523376],
 [-99.21612236439067, 19.41504646673367],
 [-99.21659452132673, 19.414653492054054],
 [-99.21704684896297, 19.4141608795538],
 [-99.21763019831673, 19.413462559671913],
 [-99.21812190876706, 19.412969897306144],
 [-99.21857622821304, 19.412581056868465],
 [-99.21901360939218, 19.41280762840358],
 [-99.21987487673682, 19.413253775855324],
 [-99.22005504962813, 19.413347106876532],
 [-99.22090619600328, 19.41379675591916],
 [-99.2216480994593, 19.414188688102655],
 [-99.22227186339796, 19.41451820580451],
 [-99.22239376358793, 19.414633565772313],
 [-99.2229021213173, 19.414788629005475],
 [-99.22325677174032, 19.414793215666446],
 [-99.22338231645986, 19.414761489885443],
 [-99.22387586156543, 19.414636767600317],
 [-99.22494459393187, 19.414278875814485],
 [-99.22584570667524, 19.414077100828486],
 [-99.2268039301166, 19.41400931441729],
 [-99.22767879866076, 19.413947420218516],
 [-99.22847666760325, 19.413966397796734],
 [-99.229439830288, 19.41398930226644],
 [-99.22949124476258, 19.41382754665198],
 [-99.22969873216562, 19.413868388851935],
 [-99.22967474076427, 19.4140557307484],
 [-99.22947706545607, 19.414763410565627],
 [-99.22910680410006, 19.415876113594344],
 [-99.22909250356858, 19.415906540888557],
 [-99.22868974450921, 19.416763487756338],
 [-99.2282260448865, 19.41753822605382],
 [-99.2274374210956, 19.418622052344716],
 [-99.22680018516404, 19.419274937253864],
 [-99.22621493111316, 19.419843511710276],
 [-99.22572292113067, 19.42021677184273],
 [-99.22488385740631, 19.42084358901866],
 [-99.22470773801976, 19.420975156775903],
 [-99.22462668099644, 19.420969341993235],
 [-99.22454555898594, 19.420916206871166],
 [-99.22450808683463, 19.420868932810208],
 [-99.2244955121929, 19.42079205272882],
 [-99.22393502891354, 19.421248203332706],
 [-99.22364245051133, 19.42157389146849],
 [-99.22357728506017, 19.421669788007446],
 [-99.22317579566361, 19.422260611027053],
 [-99.22297070800738, 19.42273998176992],
 [-99.2227243500216, 19.423470383382124],
 [-99.22240263299697, 19.424424199063935],
 [-99.22221624378115, 19.42497679415788],
 [-99.22199882116814, 19.425559692108965],
 [-99.22181844816568, 19.425879324996565],
 [-99.22130477425122, 19.4264451080441],
 [-99.22086188681928, 19.426744109485647],
 [-99.22075704553897, 19.42679331932997],
 [-99.22051414641365, 19.426907329687634],
 [-99.22004721630712, 19.427052605087457],
 [-99.2194087549087, 19.42724783034399],
 [-99.21932853968889, 19.42728820045609],
 [-99.21918523368693, 19.42736032228451],
 [-99.21929108022093, 19.427549620800935],
 [-99.21940920822345, 19.427512105544828],
 [-99.21948819443142, 19.42766150027245],
 [-99.21964607519428, 19.42789177338963],
 [-99.21987606770418, 19.42804098519875],
 [-99.22017088373187, 19.428032506497445]]

In [285]:
print(test[0])

[-99.22017088373187, 19.428032506497445]

In [288]:
print(type(test))
print(type(test[0]))
print(type(test[0][1]))

<class 'list'>
<class 'list'>
<class 'float'>

In [297]:
colonias_df_test3

,nombre,geo_shape,alcaldia
0,LOMAS DE CHAPULTEPEC,"[[-99.22017088373187, 19.428032506497445], [-9...",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"[[-99.22967474076427, 19.4140557307484], [-99....",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"[[-99.2082100184801, 19.432815650005196], [-99...",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"[[-99.14587387461441, 19.319786927215006], [-9...",COYOACAN
4,AJUSCO I,"[[-99.15854038211513, 19.330376399703336], [-9...",COYOACAN
...,...,...,...
1799,LA VIRGEN 1170 (U HAB),"[[-99.10493970345819, 19.32346259135912], [-99...",COYOACAN
1800,AVIACION CIVIL,"[[-99.08101431442913, 19.411363516628217], [-9...",VENUSTIANO CARRANZA
1801,TAXQUEA,"[[-99.12370923826415, 19.340946565372356], [-9...",COYOACAN
1802,EX EJIDO SAN FRANCISCO CULHUACAN III,"[[-99.12372138614238, 19.332091187760017], [-9...",COYOACAN
1803,JARDIN BALBUENA I,"[[-99.11181641095084, 19.42423574988566], [-99...",VENUSTIANO CARRANZA

In [298]:
colonias_df_test3.to_json("Routes/colonias.json", orient='index')

In [290]:
colonias_df_test3.to_csv("Routes/colonias_test.csv")