In [96]:
import pandas as pd
import numpy as np

In [97]:
colonias = pd.read_csv ('coloniascdmx.csv')
colonias[["lat","lon"]]=colonias["geo_point_2d"].str.split(",",expand =True)
colonias = colonias.drop("geo_point_2d",axis=1)
colonias["lat"] = colonias["lat"].astype("float")
colonias["lon"] = colonias["lon"].astype("float")
colonias.head()

,id,nombre,entidad,geo_shape,cve_alc,alcaldia,cve_col,secc_com,secc_par,lat,lon
0,0,LOMAS DE CHAPULTEPEC,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",16,MIGUEL HIDALGO,16-042,"4924, 4931, 4932, 4935, 4936, 4940, 4987","4923, 4937, 4938, 4939, 4942",19.422841,-99.215794
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",16,MIGUEL HIDALGO,16-044,4963,4964,19.410616,-99.226249
2,2,DEL BOSQUE (POLANCO),9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",16,MIGUEL HIDALGO,16-026,NaN,"4918, 4919",19.434219,-99.209404
3,3,PEDREGAL DE SANTA URSULA I,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",3,COYOACAN,03-135,"433, 500, 431, 513, 501","424, 425, 426, 430, 499",19.314862,-99.147795
4,4,AJUSCO I,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",3,COYOACAN,03-128,"376, 377, 378, 379, 404, 493, 498",374,19.324571,-99.156160

In [98]:
estaciones = pd.read_json("ecobici_lista_stations.json")
estaciones = estaciones['stations'].apply(pd.Series)
estaciones = pd.concat([estaciones.drop(['location'], axis=1), estaciones['location'].apply(pd.Series)], axis=1)
estaciones.head()

,id,name,address,addressNumber,zipCode,districtCode,districtName,altitude,nearbyStations,stationType,lat,lon
0,124,124 CLAUDIO BERNARD-DR. LICEAGA,124 - Claudio Bernard-Dr. Liceaga,S/N,06500,1,Ampliación Granada,None,"[119, 123, 133]",BIKE,19.422392,-99.150358
1,159,159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC,159 - Huatabampo-Eje 1 Pte. Av. Cuauhtémoc,S/N,06760,1,Ampliación Granada,None,"[155, 158, 163]",BIKE,19.407517,-99.155373
2,241,E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA,241 - Ejercito Nacional-Juan Vazquez de la Mella,S/N,11520,1,Ampliación Granada,None,"[222, 460]",ELECTRIC_BIKE,19.438620,-99.207580
3,243,243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT,243 - Miguel de Cervantes Saavedra-Lago Filt,S/N,11510,1,Ampliación Granada,None,"[199, 242, 244]",BIKE,19.440839,-99.196712
4,350,350 JOSE CLEMENTE OROZCO-CORREGGIO,350 - Jose Clemente Orozco-Correggio,S/N,3710,1,Ampliación Granada,None,"[349, 352]",BIKE,19.384062,-99.181482

In [99]:
colonias[colonias["lat"].isna()]

,id,nombre,entidad,geo_shape,cve_alc,alcaldia,cve_col,secc_com,secc_par,lat,lon
420,420,MAZA,9.0,NaN,15,CUAUHTEMOC,15-018,4666,"4667, 4716",NaN,NaN
885,885,SAN PABLO OZTOTEPEC (PBLO),9.0,NaN,9,MILPA ALTA,09-008,"3153, 3154, 3155, 3156, 3157, 3158",NaN,NaN,NaN
1002,1002,LOS CERRILLOS I,9.0,NaN,13,XOCHIMILCO,13-025,NaN,"4160, 4165, 4166",NaN,NaN
1021,1021,CHIMALCOYOC,9.0,NaN,12,TLALPAN,12-020,NaN,"3911, 4087, 4088, 4091",NaN,NaN

In [100]:
colonias[colonias["lon"].isna()]

,id,nombre,entidad,geo_shape,cve_alc,alcaldia,cve_col,secc_com,secc_par,lat,lon
420,420,MAZA,9.0,NaN,15,CUAUHTEMOC,15-018,4666,"4667, 4716",NaN,NaN
885,885,SAN PABLO OZTOTEPEC (PBLO),9.0,NaN,9,MILPA ALTA,09-008,"3153, 3154, 3155, 3156, 3157, 3158",NaN,NaN,NaN
1002,1002,LOS CERRILLOS I,9.0,NaN,13,XOCHIMILCO,13-025,NaN,"4160, 4165, 4166",NaN,NaN
1021,1021,CHIMALCOYOC,9.0,NaN,12,TLALPAN,12-020,NaN,"3911, 4087, 4088, 4091",NaN,NaN

In [101]:
estaciones[estaciones["lat"].isna()]

Empty DataFrame
Columns: [id, name, address, addressNumber, zipCode, districtCode, districtName, altitude, nearbyStations, stationType, lat, lon]
Index: []

In [102]:
estaciones[estaciones["lon"].isna()]

Empty DataFrame
Columns: [id, name, address, addressNumber, zipCode, districtCode, districtName, altitude, nearbyStations, stationType, lat, lon]
Index: []

In [103]:
colonias

,id,nombre,entidad,geo_shape,cve_alc,alcaldia,cve_col,secc_com,secc_par,lat,lon
0,0,LOMAS DE CHAPULTEPEC,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",16,MIGUEL HIDALGO,16-042,"4924, 4931, 4932, 4935, 4936, 4940, 4987","4923, 4937, 4938, 4939, 4942",19.422841,-99.215794
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",16,MIGUEL HIDALGO,16-044,4963,4964,19.410616,-99.226249
2,2,DEL BOSQUE (POLANCO),9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",16,MIGUEL HIDALGO,16-026,NaN,"4918, 4919",19.434219,-99.209404
3,3,PEDREGAL DE SANTA URSULA I,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",3,COYOACAN,03-135,"433, 500, 431, 513, 501","424, 425, 426, 430, 499",19.314862,-99.147795
4,4,AJUSCO I,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",3,COYOACAN,03-128,"376, 377, 378, 379, 404, 493, 498",374,19.324571,-99.156160
...,...,...,...,...,...,...,...,...,...,...,...
1807,1807,LA VIRGEN 1170 (U HAB),9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1049...",3,COYOACAN,03-067,NaN,576,19.323562,-99.104130
1808,1808,AVIACION CIVIL,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.0810...",17,VENUSTIANO CARRANZA,17-007,"5460, 5461, 5474","5459, 5462, 5475, 5494, 5495",19.415126,-99.079662
1809,1809,TAXQUEA,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",3,COYOACAN,03-153,555,554,19.339232,-99.123211
1810,1810,EX EJIDO SAN FRANCISCO CULHUACAN III,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1237...",3,COYOACAN,03-158,NaN,581,19.330742,-99.122131
1811,1811,JARDIN BALBUENA I,9.0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1118...",17,VENUSTIANO CARRANZA,17-076,"5344, 5345, 5346, 5347, 5352, 5353, 5350, 5351...",NaN,19.421584,-99.105354

In [104]:
colonias = colonias.dropna(subset=['lat'])

In [105]:
cols = []
for i, rowE in estaciones.iterrows():
  temp =[]
  for j, rowC in colonias.iterrows():
    temp.append(np.sqrt(np.square(rowC["lat"]-rowE["lat"])+np.square(rowC["lon"]-rowE["lon"])))
  #print("Estacion",rowE["name"],"min",colonias.iloc[np.argmin(temp)]["nombre"]) 
  cols.append( colonias.iloc[np.argmin(temp)]["nombre"] )
estaciones["Colonia"] = cols
estaciones.head()

,id,name,address,addressNumber,zipCode,districtCode,districtName,altitude,nearbyStations,stationType,lat,lon,Colonia
0,124,124 CLAUDIO BERNARD-DR. LICEAGA,124 - Claudio Bernard-Dr. Liceaga,S/N,06500,1,Ampliación Granada,None,"[119, 123, 133]",BIKE,19.422392,-99.150358,DOCTORES II
1,159,159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC,159 - Huatabampo-Eje 1 Pte. Av. Cuauhtémoc,S/N,06760,1,Ampliación Granada,None,"[155, 158, 163]",BIKE,19.407517,-99.155373,PIEDAD NARVARTE
2,241,E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA,241 - Ejercito Nacional-Juan Vazquez de la Mella,S/N,11520,1,Ampliación Granada,None,"[222, 460]",ELECTRIC_BIKE,19.438620,-99.207580,LOS MORALES (POLANCO)
3,243,243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT,243 - Miguel de Cervantes Saavedra-Lago Filt,S/N,11510,1,Ampliación Granada,None,"[199, 242, 244]",BIKE,19.440839,-99.196712,GRANADA
4,350,350 JOSE CLEMENTE OROZCO-CORREGGIO,350 - Jose Clemente Orozco-Correggio,S/N,3710,1,Ampliación Granada,None,"[349, 352]",BIKE,19.384062,-99.181482,CIUDAD DE LOS DEPORTES

In [106]:
estaciones = estaciones[["id","name","lat","lon","districtName"]]
estaciones = estaciones.rename(columns={"id":"ID","name" :"Name","lat":"Lat","lon":"Lon"})
estaciones[["ID","Name","Lat","Lon","districtName"]].to_csv("Estaciones.csv")
estaciones.head()

,ID,Name,Lat,Lon,districtName
0,124,124 CLAUDIO BERNARD-DR. LICEAGA,19.422392,-99.150358,Ampliación Granada
1,159,159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC,19.407517,-99.155373,Ampliación Granada
2,241,E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA,19.438620,-99.207580,Ampliación Granada
3,243,243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT,19.440839,-99.196712,Ampliación Granada
4,350,350 JOSE CLEMENTE OROZCO-CORREGGIO,19.384062,-99.181482,Ampliación Granada

In [108]:
colonias = colonias[["id","nombre","geo_shape","alcaldia"]]
colonias = colonias.rename(columns={"id":"ID","nombre" :"Name","geo_shape":"GeoShape","alcaldia":"Alcaldia"})
colonias[["ID","Name","GeoShape","Alcaldia"]].to_csv("Colonias.csv")
colonias.head()

,ID,Name,GeoShape,Alcaldia
0,0,LOMAS DE CHAPULTEPEC,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,2,DEL BOSQUE (POLANCO),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,3,PEDREGAL DE SANTA URSULA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,4,AJUSCO I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN