In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Colonias.csv"

# Read Purchasing File and store into Pandas data frame
colonia_data = pd.read_csv(file_to_load)
colonia_data.head()

,ID,Name,GeoShape,Alcaldia
0,0,LOMAS DE CHAPULTEPEC,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,2,DEL BOSQUE (POLANCO),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,3,PEDREGAL DE SANTA URSULA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,4,AJUSCO I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN

In [2]:
colonia_data.Alcaldia.unique()

array(['MIGUEL HIDALGO', 'COYOACAN', 'VENUSTIANO CARRANZA',
       'GUSTAVO A. MADERO', 'TLALPAN', 'XOCHIMILCO', 'MILPA ALTA',
       'IZTACALCO', 'AZCAPOTZALCO', 'ALVARO OBREGON', 'CUAUHTEMOC',
       'TLAHUAC', 'CUAJIMALPA DE MORELOS', 'IZTAPALAPA', 'BENITO JUAREZ',
       'LA MAGDALENA CONTRERAS', nan], dtype=object)

In [3]:
# File to Load (Remember to Change These)
file_to_load = "Estaciones.csv"

# Read Purchasing File and store into Pandas data frame
estaciones_data = pd.read_csv(file_to_load)
estaciones_data.head()

,ID,Name,Lat,Lon,districtName
0,124,124 CLAUDIO BERNARD-DR. LICEAGA,19.422392,-99.150358,Ampliacion Granada
1,159,159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC,19.407517,-99.155373,Ampliacion Granada
2,241,E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA,19.438620,-99.207580,Ampliacion Granada
3,243,243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT,19.440839,-99.196712,Ampliacion Granada
4,350,350 JOSE CLEMENTE OROZCO-CORREGGIO,19.384062,-99.181482,Ampliacion Granada

In [4]:
estaciones_data.Name.unique()

array(['124 CLAUDIO BERNARD-DR. LICEAGA',
       '159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC',
       'E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA ',
       '243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT ',
       '350 JOSE CLEMENTE OROZCO-CORREGGIO',
       'E445 RIFF-AVENIDA RIO CHURUBUSCO',
       '463 LAGO ANDRÓMACO-LAGO ZURICH',
       'E469 BAHÍA DE LA CONCEPCIÓN-BAHÍA DE TODOS LOS SAN',
       '470 BAHÍA DE LAS PALMAS-BAHÍA DE TODOS LOS SANTOS',
       '471 BAHÍA DE CHACHALACAS-BAHÍA SANTA BÁRBARA ',
       'E472 BAHÍA SANTA BÁRBARA-BAHÍA DE BALLENAS ',
       '473 BAHÍA DEL ESPÍRITU SANTO-BAHÍA DE BANDERAS',
       '452 LEIBNITZ-AV. EJERCITO NACIONAL', '246 LEIBNITZ-THIERS',
       'E247 HERSCHEL-ROUSSEAU ', '248 SHAKESPEARE-LAFAYETTE ',
       '249 SHAKESPEARE-DARWIN ', '250 DARWIN-MARIANO ESCOBEDO ',
       '251 GOETHE-DARWIN ', '252 VICTOR HUGO-SHAKESPEARE ',
       '253 DANTE-TOLSTOI ', '433 JOSE MARÍA OLLOQUI-LOPÉZ COSTILLA',
       'E434 JOSE MARÍA OLLOQUI-AMORES',
       '423 MORAS-JOSÉ MARÍA RICO (EJE 8)', '436 RODRIGUEZ SARO-BUFALLO',
       '437 MORAS-COMUNAL', '438 ADOLFO PRIETO-JOSÉ MARÍA OLLOQUI',
       '439 AMORES-AVENIDA COYOACÁN', '420 MARÍA LUZ BRINGAS-OSO',
       '421 MARÍA LUZ BRINGAS-OSO', '422 BUFALO-JOSÉ MARÍA RICO (EJE 8)',
       '416 RECREO-PARROQUÍA', 'E479 LAGO MURITZ-AV. MARINA NACIONAL',
       '480 LAGO ISEO-AV. MARINA NACIONAL',
       'E464 MATEO ALEMÁN-PROLONGACIÓN MOLIERE ', '333 GEORGIA -CAROLINA',
       '349 AUGUSTO RODIN-AVENIDA SAN ANTONIO', '326 EUGENIA-NEBRASKA',
       '466  LAGO ONEGA-LAGO LADOGA',
       '474 BAHÍA DE SAN HIPÓLITO-BAHÍA DEL ESPÍRITU SANTO',
       '475 LAGO MURITZ-LAGO ALBERTO', '477 LAGO ISEO-LAGUNA DE MAYRÁN ',
       '478 LAGUNA DE MAYRÁN-LAGO CHALCO',
       '468 LAGO XOCHIMILCO-AV. EJÉRCITO NACIONAL',
       '264 HÉROES FERROCARRILEROS-AV. CENTRAL',
       '265 HÉROES FERROCARRILEROS-JESÚS GARCIA',
       '266 AV. JESÚS GARCIA-CARLOS J. MENESES ',
       '267 AV. JESÜS GARCÏA-CARLOS J. MENESES',
       '268 LUIS DONALDO COLOSIO-AV.JESÚS GARCÍA ',
       '269 LUIS DONALDO COLOSIO-ALDAMA ', '271 AV. CENTRAL-J. MENESES ',
       '272 AV. CENTRAL-J. MENESES ',
       '273 LUIS DONALDO COLOSIO-AV. CENTRAL',
       '274 LUIS DONALDO COLOSIO-AV INSURGENTES NORTE ',
       '275 HÉROES FERROCARRILEROS-AV. INSURGENTES NORTE',
       '176 AV. JESÜS GARCÏA-LUIS DONALDO COLOSIO',
       '347 PENNSYLVANIA-MAXIMINO AVILA CAMACHO', '353 CAROLINA-HOLBEIN',
       '362 AUGUSTO RODIN-ALBERTO BALDERAS', '363 HOLBEIN-PAULO UCELLO',
       'E260 AV JUAREZ-BALDERAS ',
       '262 REPUBLICA DE CUBA-REPUBLICA DE BRASIL ',
       '87 GANTE-VENUSTIANO CARRANZA', '88 2A CDA 5 DE MAYO-PALMA',
       '89 REPUBLICA DE GUATEMALA-MONTE DE PIEDAD',
       '90 JOSE MARIA PINO SUAREZ-CORREGIDORA',
       '91 REPUBLICA DE CUBA-ALLENDE',
       '92 SAN ILDEFONSO-REPUBLICA DE ARGENTINA',
       '93 PALMA NORTE-REPUBLICA DE CUBA', '94 LIC. VERDAD-MONEDA',
       '95 20 DE NOVIEMBRE-VENUSTIANO CARRANZA', '96 LOPEZ-AYUNTAMIENTO',
       '97 REPUBLICA DE SALVADOR-PINO SUAREZ',
       '98 EMILIO DONDE-AV. BALDERAS', '99 ERNESTO PUGIBET-LUIS MOYA',
       '100 20 DE NOVIEMBRE-MESONES',
       '101 1ER. CALLEJÓN DE MESONES-MESONES', '102 ECHEVESTE-BOLIVAR',
       '104 SAN JERONIMO-ISABEL LA CATOLICA',
       '105 SAN JERONIMO-5 DE FEBRERO',
       '106 SAN JERONIMO-JOSE MARIA PINO SUAREZ', '107 TOLSA-BALDERAS',
       'E108 TOLSA-BALDERAS', '109 NEZAHUALCOYOTL-ISABEL LA CATOLICA',
       '29 REFORMA-BUCARELI', '43 JUAREZ-REVILLAGIGEDO',
       '48 INDEPENDENCIA-AZUETA', '52 HIDALGO-TRUJANO',
       '55 5 DE MAYO-BOLIVAR', '65 MARCONI-TACUBA',
       '82 INDEPENDENCIA-MARROQUI', '192 RUBEN DARIO-REFORMA',
       '193 RUBEN DARIO-REFORMA',
       '194 CTO MAHATMA GANDHI-AV. PASEO DE LA REFORMA',
       '195 AV. PASEO DE LA REFORMA-CTO MAHATMA GANDHI',
       '62 FERNANDO MONTES DE OCA-AMATLAN', '63 NUEVO LEON- LAREDO',
       '67 VICENTE SUAREZ-MICHOACAN', '68 TAMAULIPAS-MICHOACAN',
       '53 FERNANDO MONTES DE OCA-TULA', '54 PARQUE ESPAÑA-SONORA',
       '57 CUERNAVACA-JUAN ESCUTIA',
       '58 PARQUE ESPAÑA-JUAN DE LA BARRERA',
       '60 MAZATLAN-FERNANDO MONTES DE OCA',
       '49 MAZATLAN-JUAN DE LA BARRERA', '50 CUERNAVACA-VERACRUZ',
       '447 AGUSTÍN MELGAR-ZAMORA', '4 RIO NILO-RIO PANUCO',
       '5 RIO PANUCO-RIO TIBER', '6 RIO PANUCO-RIO SENA',
       '7 RIO ELBA-RIO LERMA', '1 RIO SENA-RIO BALSAS',
       '2 RIO GUADALQUIVIR-RIO BALSAS', '9 RIO GUADALQUIVIR-RIO LERMA',
       '11 RIO AMAZONAS-RIO LERMA', '12 RIO LERMA-VILLALONGIN',
       '13 REFORMA-RIO MISSISSIPPI', '14 REFORMA-RIO DE PLATA',
       '15 REFORMA-RIO MISSISSIPPI', '16 REFORMA-RÍO TIBER',
       '17 REFORMA-RIO TIBER', '18 REFORMA-RIO RHIN',
       '19 REFORMA-RIO RHIN', '20 REFORMA-RIO TAMESIS',
       'E257 MANUEL MARIA CONTRERAS-VILLALONGIN ',
       '465 LAGUNA DE GINEBRA-LAGO WETTER',
       '448 DR. ANDRADE - ARCOS DE BELÉN',
       '122 JOSE MARIA VERTIZ-AV.DR. RIO DE LA LOZA',
       '123 CLAUDIO BERNARD-DR. LAVISTA',
       '110 DR. VALENZUELA-DR. RÍO DE LA LOZA',
       '298 ROMERO DE TERREROS-GABRIEL MANCERA',
       '299 ROMERO DE TERREROS-MIER Y PESADO',
       'E300 PROVIDENCIA -LUZ SAVIÑON', '301 LUZ SAVIÑÓN-MAGDALENA',
       '302 LUZ SAVIÑON-MAGDALENA', '291 MAGDALENA-DIVISIÓN DEL NORTE',
       '316 SAN FRANCISCO-CONCEPCIÓN BEISTEGUI',
       '317 AVENIDA COYOACÁN-TORRES ADALID', '318 LUZ SAVIÑÓN-AMORES',
       '319 DIAGONAL SAN ANTONIO-LUZ SAVIÑON',
       '372 DR. ROBERTO GAYOL-TLACOQUEMECATL',
       '373 PILARES-GABRIEL MANCERA',
       '377 HERIBERTO FRÍAS-MIGUEL LAURENT', '378 MIGUEL LAURENT-AMORES',
       '379 DR. ROBERTO GAYOL-MIGUEL LAURENT',
       '393 ADOLFO PRIETO-FELIX CUEVAS',
       '356 MATIAS ROMERO -ADOLFO PRIETO', '357 MATIAS ROMERO -AMORES',
       '358 NICOLAS SAN JUAN-MATIAS ROMERO ',
       '359 MATIAS ROMERO -PESTALLOZZI',
       'E360 HERIBERTO FRÍAS-MATIAS ROMERO',
       '344 HERIBERTO FRÍAS-ANGEL URRAZA EJE 6 SUR',
       '323 CONCEPCIÓN BEISTEGUI-GABRIEL MANCERA',
       '324 AMORES-AVENIDA EUGENIA', '325 PROVIDENCIA -AVENIDA DEL VALLE',
       '335 MAGDALENA-AMEYALCO', '336 SAN BORJA-CDA. BARTOLOCHE',
       '337 SAN BORJA-MARTÍN MENLALDE', '338 NICOLAS SAN JUAN-SAN BORJA',
       '292 ADOLFO PRIETO-EJE 4 SUR XOLA',
       '293 MIER Y PESADO-EJE 4 SUR XOLA',
       '294 NICOLÁS SAN JUAN-EJE 4 SUR XOLA',
       '278 MIER Y PESADO-OBRERO MUNDIAL', '279 LA MORENA-PROVIDENCIA',
       '282 LA MORENA-EJE 2 PONIENTE GABRIEL MANCERA',
       '283 AV. COYOACÁN-RAFAEL DONDE',
       '394 DR. ROBERTO GAYOL-FELIX CUEVAS',
       '395 SAN LORENZO-CALLEJÓN MARTÍN MENLALDE',
       '396 MARTÍN MENLALDE-FELIX CUEVAS',
       '397 SAN LORENZO-GABRIEL MANCERA',
       '398 SANCHEZ AZCONA-FELIX CUEVAS',
       '399 HERIBERTO FRÍAS-SAN LORENZO',
       '400 SAN LORENZO-HERIBERTO FRIAS',
       '435 RODRIGUEZ SARO-AVENIDA COYOACÁN', 'E391 OSO-FELIX CUEVAS',
       '413 PARROQUIA-AVENIDA COYOACÁN',
       '414 PARROQUIA-JOSÉ IGNACIO BARTOLACHE',
       '415 SAN FRANCISCO-PARROQUÍA',
       '424 AMORES-JOSÉ MARÍA RICO (EJE 8)',
       '425 NICOLAS SAN JUAN-AVENIDA UNIVERSIDAD',
       '285 12 DE OCTUBRE-MINERIA',
       '286 13 DE SEPTIEMBRE-AVENIDA PATRIOTISMO',
       '287 13 DE SEPTIEMBRE-PUENTE DE LA MORENA',
       'E175 MUTUALISMO-JOSÉ MARTí', '166 PROGRESO-CDA. ANTONIO MACEO',
       '167 GENERAL SALVADOR ALVARADO-PROGRESO', '168 COMERCIO-PROGRESO',
       '169 PROSPERIDAD-PROGRESO', '170 OBSERVATORIO ORIENTE-REVOLUCIÓN',
       '171 COMERCIO-JOSE MARTÍ',
       '172 GENERAL FRANCISCO MURGUIA-JOSE MARTÍ',
       '173 MINERÍA-JOSÉ MARTÍ', '387 CADIZ-EMPRESA',
       '381 SAN LORENZO-MANZANAS', '382 SAN LORENZO-AV. INSURGENTES',
       '383 LUIS CARACCI-2DA. LUIS CARACCI',
       '368 PORFIRIO DÍAZ-CINCINATTI ',
       '428 PROLONGACIÓN UXMAL-AV. POPOCATEPETL (EJE 8)',
       '431 BRUNO TRAVEN-PAZ MONTES DE OCA',
       '432 CARRILLO PUERTO-AV. MÉXICO-COYOACÁN',
       '443 BRUNO TRAVEN-GOLONDRINAS',
       '444 GENERAL MANUEL RINCÓN-AGUSTÍN GUTIERREZ',
       '446 RIFF-AVENIDA RIO CHURUBUSCO', 'E467  LAGO MAYOR-LAGO ALBERTO',
       '476 LAGO COMO-LAGUNA DE MAYRÁN',
       '240 EJERCITO NACIONAL-F.C. DE CUERNAVACA ',
       '199 ANATOLE FRANCE-AV. EJERCITO NACIONAL',
       '244 MIGUEL DE CERVANTES SAAVEDRA-LAGO VICTORIA ',
       '245 LAGO ONEGA-AV. EJERCITO NACIONAL ',
       '242 MIGUEL DE CERVANTES SAAVEDRA-PROL MOLIERE ',
       '197 MIGUEL DE CERVANTES-FC DE CUERNAVACA',
       '72 MAZATLAN-ALFONSO REYES', '73 CAMPECHE-TAMAULIPAS',
       '177 BENJAMIN HILL-CARLOS ZETINA',
       '178 TAMAULIPAS-FRANCISCO MURGUÍA',
       '66 MAZATLAN-FRANCISCO MARQUEZ', '75 ALFONSO REYES-ATLIXCO',
       '76 CHILPANCINGO-CAMPECHE', '77 CHOAPAN-TAMAULIPAS',
       '78 BENJAMIN HILL-TAMAULIPAS', '79 SALTILLO-ALFONSO REYES',
       '80 NUEVO LEON-AGUASCALIENTES', '81 AGUASCALIENTES-INSURGENTES',
       '83 NUEVO LEON-ALFONSO REYES', '84 CHILPANCINGO-TLAXCALA',
       '64 SONORA-AMSTERDAM', '69 MICHOACAN-AMSTERDAM',
       '70 PARQUE MEXICO-MICHOACAN', '71 AMSTERDAM-MICHOACAN',
       '61 AVENIDA MEXICO-SONORA', '59 POPOCATEPETL-AMSTERDAM',
       '179 NUEVO LEÓN-QUINTANA ROO', '180 QUINTANA ROO-VILLA HERMOSA',
       '181 BENJAMIN FRANKLIN-OMETUSCO', '182 PROGRESO-ASTRONOMOS',
       '74 NUEVO LEON-OZULAMA', '384 EMPRESA-POUSSIN',
       '385 POUSSIN-EMPRESA', '386 POUSSIN-DONATELLO',
       '388 VALENCIA-MALAGA', '417 GOYA-AUGUSTO RODÍN',
       '418 GALICIA-ACTIPAN', '419 ACTIPAN-CADIZ',
       '460 JUAN VÁZQUEZ DE MELLA-HOMERO',
       '461 PRESA DON MARTÍN-BOULEVARD MIGUEL DE CERVANTES',
       '462 PRESA FALCÓN-DANXHÓ', '355 CALIFORNIA-SACRAMENTO',
       '345 MIRAFLORES-PATRICIO SANZ',
       '346 SAN FRANCISCO-SANTA MARGARITA', '361 PORFIRIO DÍAZ-CAPULÍN',
       '261 PASEO DE LA REFORMA - RÍO DE LA PLATA', '21 REFORMA-DUBLIN',
       '22 REFORMA-MANCHESTER', '23 REFORMA-PRAGA', '24 REFORMA-VARSOVIA',
       '25 REFORMA-ESTOCOLMO', '26 REFORMA-VERSALLES', '27 REFORMA-HAVRE',
       '28 TOLEDO-TOKIO', '3 REFORMA-INSURGENTES',
       '8 REFORMA-GENERAL PRIM', '30 HAMBURGO-GENOVA',
       '31 HAMBURGO-INSURGENTES', '32 LONDRES-SEVILLA',
       'E33 LONDRES-FLORENCIA', '34 LIVERPOOL-GENOVA',
       '35 LIVERPOOL-GENOVA', '112 AV. MORELOS-ABRAHAM GONZALEZ',
       '113 GENERAL PRIM-VERSALLES', '114 LUCERNA-ABRAHAM GONZALEZ ',
       '115 ROMA-DINAMARCA ', '116 LONDRES-ROMA', '117 LONDRES-NAPOLES ',
       '118 LIVERPOOL-DINAMARCA', '119 TURÍN-ABRAHAM GONZÁLEZ',
       '120 MARSELLA-NAPOLES', '121 NIZA-CHAPULTEPEC',
       'E457 AV. PRADO NORTE-EXPLANADA',
       'E454 MONTES URALES-MONTE PELVOUX',
       '455 PEDREGAL-FERROCARRIL DE CUERNAVACA',
       '456 ALPES-MONTES ESCANDINAVOS', '458 MONTES URALES-VOLCÁN',
       'E459 VOLCÁN-MONTES URALES',
       '404 MIGUEL LAURENT-AVENIDA DIVISIÓN DEL NORTE',
       '405 DIVISIÓN DEL NORTE-MUNICIPIO LIBRE', '374 PITÁGORAS-PILARES',
       '375 TENAYUCA-DIVISIÓN DEL NORTE', '376 PITÁGORAS-AV. UNIVERSIDAD',
       '453 PEDREGAL-TEAPA', '334 NUEVA YORK-AV. INSURGENTES',
       '348 INDIANA-AVENIDA SAN ANTONIO', '313 PENNSYLVANIA-OKLAHOMA',
       '314 NUERVA YORK-LOUISIANA', '315 ALABAMA-MONTANA',
       'E327 GEORGIA -PENNSYLVANIA', '284 DAKOTA-VERMONT',
       '289 CHICAGO-YOSEMITE', '290 YOSEMITE-COLORADO',
       '303 MONTESITO-AV. INSURGENTES', '304 MONTESITO-DAKOTA',
       '305 AVENIDA DEL PARQUE-ARIZONA', '306 DAKOTA-FILADELFIA',
       '307 MINESOTA-DAKOTA', '308 NUEVA YORK-ARIZONA',
       '309 PENNSYLVANIA-ARIZONA', '295 ANAXÁGORAS-EJE 4 SUR XOLA',
       'E296 DIAGONAL SAN ANTONIO-ENRIQUE RÉBSAMEN',
       '297 DIAGONAL SAN ANTONIO-ENRIQUE RÉBSAMEN',
       '320 ENRIQUE RÉBSAMEN-LUZ SAVIÑON', '321 TORRES ADALID-ANAXÁGORAS',
       '322 HERIBERTO FRÍAS-CONCEPCIÓN BEISTEGUI',
       '280 ANAXÁGORAS-OBRERO MUNDIAL', '281 PITÁGORAS-LA MORENA',
       '339 ENRIQUE RÉBSAMEN-AVENIDA EUGENIA',
       '340 ANAXÁGORAS-AVENIDA EUGENIA',
       '341 SAN BORJA-AVENIDA CUAUHTEMOC',
       '342 ANAXÁGORAS-ANGEL URRAZA EJE 6 SUR',
       '343 ENRIQUE RÉBSAMEN-DIVISIÓN DEL NORTE',
       '354 BOSTON-AV. INSURGENTES', '369 PORFIRIO DÍAZ-AV. INSURGENTES',
       '366 PORFIRIO DÍAZ-AUGUSTO RODÍN', '367 BOSTON -AUGUSTO RODÍN',
       '276 ANAXÁGORAS-OBRERO MUNDIAL',
       '277 AMPLIACIÓN TONALÁ-OBRERO MUNDIAL', '36 PUEBLA-VERACRUZ',
       '198 SÓCRATES-EJERCITO NACIONAL ',
       '196 LAGO TANGANICA-AV. EJERCITO NACIONAL',
       '200 EMERSON-AV. EJERCITO NACIONAL',
       '201 LOPE DE VEGA-EJERCITO NACIONAL ',
       '202 CALDERON DE LA BARCA-AV. HOMERO', '203 TENNYSON-AV. HOMERO',
       '204 TEMISTOCLES-HOMERO', '205 TAINE-HOMERO',
       '206 MOLIERE-HOMERO ', '207 TASSO-HOMERO ',
       '208 HESIODO-LAMARTINE ', '209 SOLON-HORACIO ',
       '210 EUGENIO SUE-HORACIO ', '211 NEWTON-HORACIO',
       '212 HEGEL-HORACIO ', '213 SOLÓN-CICERÓN', '214 PLATÓN-HORACIO',
       '215 EDGAR ALAN POE-HORACIO', '216 ALEJANDRO DUMAS-HORACIO ',
       '217 EULER-AV. HORACIO ', '218 HEGEL-IBARBOUROU ',
       '219 ESOPO-FC DE CUERNAVACA', '220 PLINIO-PRESIDENTE MASARYK ',
       '221 EMILIO CASTELAR-PRESIDENTE MASARYK ',
       'E222 ALEJANDRO DUMAS-PRESIDENTE MASARYK',
       '223 NEWTON-PRESIDENTE MASARYK ', '224 HEGEL-PRESIDENTE MASARYK',
       '225 PETRARCA-PRESIDENTE MASARYK', '226 WALLON-PRESIDENTE MASARYK',
       '227 CAMPOS ELÍSEOS-PERIFÉRICO',
       '228 CAMPOS ELÍSEOS-JEAN DE LA FONTAINE', '229 DICKENS-SENECA',
       '230 EDGAR ALAN POE-DICKENS', '231 NEWTON-ARISTOTELES ',
       '232 TAINE-RUBEN DARÍO ', '233 JULIO VERNE-LUIS G. URBINA ',
       '234 TRES PICOS-ARQUÍMIDES ', '235 CAMPOS ELISEOS-MOLIERE ',
       '236 CAMPOS ELISEOS-MOLIERE ', '237 ANDRÉS BELLO-ELLIOT ',
       '238 ANDRÉS BELLO-ELLIOT ', '239 RINCON DEL BOSQUE-RUBEN DARÍO ',
       '451 CAMPOS ELÍSEOS-GOLDSMITH',
       '407 PROL. XOCHICALCO-GENERAL EMILIANO ZAPATA',
       '408 PROLONGACIÓN PETÉN-GENERAL EMILIANO ZAPATA',
       'E449 ACAPULCO-PUEBLA', '42 SINALOA-VALLADOLID',
       '37 GUADALAJARA-PUEBLA', '38 COZUMEL-PUEBLA', '39 PUEBLA-MEDELLÍN',
       '40 OAXACA-PUEBLA', '56 ALVARO OBREGON-MEDELLIN',
       '51 COLIMA-OAXACA', '44 DURANGO-VERACRUZ', '45 DURANGO-SONORA',
       '46 DURANGO-SALAMANCA', '47 GLORIETA CIBELES-OAXACA',
       '125 MORELIA-CIRCULAR DE MORELIA', '126 JALAPA-PUEBLA',
       '127 PUEBLA-MERIDA', '128 ORIZABA-RIO DE JANEIRO',
       '129 TONALÁ-DURANGO', '130 MÉRIDA-DURANGO', '131 COLIMA-JALAPA',
       '132 COLIMA-FRONTERA', '133 COLIMA-MORELIA',
       '134 ÁLVARO OBREGÓN-ORIZABA', '135 ÁLVARO OBREGÓN-MORELIA',
       '136 ÁLVARO OBREGÓN-TONALÁ', '137 ÁLVARO OBREGÓN-MÉRIDA',
       '138 GUANAJUATO-FRONTERA', 'E139 TONALÁ-GUANJUATO',
       '140 MÉRIDA-ZACATECAS', '141 ZACATECAS-LUIS CABRERA',
       '142 SAN LUIS POTOSI-EJE 2 PTE. MONTERREY',
       '143 CÓRDOBA-SAN LUIS POTOSÍ', '144 FRONTERA-SAN LUIS POTOSÍ',
       '145 EJE 2 SUR YUCATÁN-CHIAPAS', '146 COAHUILA-MANZANILLO',
       '147 COAHUILA-ORIZABA', '148 COAHUILA-AV.CUAUHTEMOC',
       '149 MÉRIDA-ANTONIO ANZA', '150 CAMPECHE-MEDELLÍN',
       '151 CAMPECHE-TONALÁ', '152 TLACOTALPAN-CAMPECHE',
       '153 MANZANILLO-TLAXCALA', '154 TUXPAN-TLAXCALA',
       'E155 JALAPA-TLAXCALA', '156 TEPIC-ARIO', '157 TEPIC-TLACOTALPAN',
       '158 HUATABAMPO-EJE 1PTE. CUAUHTÉMOC',
       '161 QUINTANA ROO-MANZANILLO', '162 TEHUANTEPEC-MEDELLÍN',
       '163 TOLUCA-BAJÍO', '164 BAJÍO-TLACOTALPAN',
       '165 BAJÍO-EJE 2 PTE. MONTERREY',
       '427 AVENIDA MÉXICO-COYOACAN-AV. POPOCATEPETL (EJE ',
       '409 AZORES-DIVISIÓN DEL NORTE',
       '410 PROLONGACIÓN TAJÍN-PROLONGACIÓN REPÚBLICAS',
       '411 PARROQUIA-AVENIDA MÉXICO-COYOACAN',
       '412 PARROQUIA-AVENIDA UNIVERSIDAD',
       '406 PARROQUIA AV. MEXICO-COYOACAN',
       '429 PIRINEOS-AV. POPOCATEPETL (EJE 8)',
       '430 TRIPOLI-AV. POPOCATEPETL (EJE 8)',
       '401 SAN LORENZO-AVENIDA CUAUHTEMOC', '402 UXMAL-MUNICIPIO LIBRE',
       '403 UXMAL-MUNICIPIO LIBRE',
       '184 GRAL GÓMEZ PEDRAZA-GOBERNADOR TIBURCIO M',
       '185 GRAL ANTONIO LÉON-GRAL PEDRO A DE LOS S.',
       '186 GREGORIO V GELATI-FRANCISCO MOLINOS DEL C',
       '187 GENERAL CANO-GOBERNADOR GREGORIO V GELATI',
       '188 GDOR MELCHOR MÚZQUIZ-GDOR IGNACIO ESTEVA ',
       '189 GDOR RAFAEL REBOLLAR-GDOR JOSÉ CEBALLOS',
       'E190 GDOR IGNACIO ESTEVA-MTRO JOSÉ VASCONCELOS',
       '191 GDOR RAFAEL REBOLLAR-GDOR VICENTE EGUIA',
       '258 CIRCUITO INTERIOR-JUAN ESCUTIA ', '352 TINTORETO-GIORGINE',
       '364 BOTICHELLI-CDA. DE GIORGONE',
       '365 HOLBEIN-AVENIDA REVOLUCIÓN',
       '351 CALLE 27-AVENIDA REVOLUCIÓN', '328 AVENIDA 1-CALLE 7',
       '329 CALLE 13-AVENIDA 1', '330 CALLE 15-AVENIDA PATRIOTISMO',
       '331 AVENIDA 2-CALLE 17', '332 SUR DE CALLE 27-AVENIDA 3',
       '288 11 DE ABRIL-AVENIDA 2', '310 CALLE 1-AV. PATRIOTISMO',
       '311 CALLE 5-AVENIDA REVOLUCIÓN', '312 AVENIDA 2-CALLE 7',
       '263 SADI CARNOT-GÓMEZ FARIAS ',
       'E160 ALFONSO HERRERA-GABINO BARRERA',
       '254 ALFONSO HERRERA-MIGUEL SHULTZ ',
       '255 JOSE ROSAS MORENO-GUILLERMO PRIETO ',
       '256 GÓMEZ FARÍAS-SADI CARNOT ',
       '183 GABINO BARRERA-GUILLERMO PRIETO',
       '174 JOAQUÍN GARCIA-IGNACIO MANUEL ALTAMIRANO',
       '111 GUILLERMO PRIETO-JOAQUÍN VELÁZQUEZ DE LEÓN',
       '103 JOAQUÍN VELÁZQUEZ DE LEÓN-GARCÍA ICAZBALCETA',
       '85 ROSAS MORENO-SULLIVAN', '86 SULLIVAN-INSURGENTES',
       '41 REFORMA-AV. DE LA REPUBLICA', '10 REFORMA-RAMIREZ',
       '270 DE LA REPUBLICA-PONCIANO ARRIAGA ',
       '259 TÓMAS ALVA EDISON-PONCIANO ARRIAGA ',
       '450 RAMOS ARIZPE-PUENTE DE ALVARADO',
       '392 PATRICIO SANZ-FELIX CUEVAS', '389 SANTANDER-FELIX CUEVAS',
       '390 OSO-FELIX CUEVAS', '370 TLACOQUEMECATL-AV. INSURGENTES',
       '371 TLACOQUEMECATL-CAPULIN', '380 MORAS-SAN LORENZO',
       '440 REAL DE MAYORAZGO-PUENTE XOCO',
       '441 PUENTE XOCO-REAL DE MAYORAZGO',
       '442 REAL DE MAYORAZGO-AVENIDA MÉXICO-COYOACAN',
       '426 CERRADA DE POPOCATEPETL-AV. POPOCATEPETL EJE 8'], dtype=object)

In [37]:


# File to Load (Remember to Change These)
file_to_load = "Data/dataset_export_files/ecobici_ride_data-oneInHundredv2.csv"

# Read Purchasing File and store into Pandas data frame
estaciones_data = pd.read_csv(file_to_load)
estaciones_data

,Genero_Usuario,Edad_Usuario,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration(Min)
0,M,28,85,85,2010-02-16 12:45:37.427,3.1
1,M,35,78,63,2010-02-19 13:52:30.700,12.1
2,M,34,85,23,2010-02-21 14:30:46.390,26.8
3,M,46,20,17,2010-02-22 16:17:10.470,6.4
4,F,28,74,46,2010-02-23 18:51:57.057,14.9
...,...,...,...,...,...,...
707034,M,27,316,54,2021-12-05 09:29:40,13.3
707035,M,49,158,83,2021-12-05 09:24:30,10.8
707036,M,33,417,313,2021-12-05 08:55:46,12.1
707037,F,23,467,260,2021-12-05 08:54:12,33.7
707038,M,30,174,113,2021-12-05 09:05:47,7.7

In [38]:
good_df=estaciones_data.loc[estaciones_data.Ciclo_Estacion_Retiro<=500&estaciones_data.Ciclo_Estacion_Arribo]
good_df

,Genero_Usuario,Edad_Usuario,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration(Min)
8,M,64,27,35,2010-02-26 12:14:26.650,16.7
10,M,28,4,4,2010-02-28 10:59:44.843,2.6
11,F,31,15,20,2010-03-01 20:13:09.683,12.8
13,M,30,27,55,2010-03-02 20:03:08.663,17.4
18,M,29,50,54,2010-03-04 21:20:54.253,2.9
...,...,...,...,...,...,...
707024,M,35,129,328,2021-12-05 10:47:06,26.6
707025,M,40,192,253,2021-12-05 08:40:29,7.6
707030,M,36,77,219,2021-12-05 08:24:57,27.1
707031,M,36,295,438,2021-12-05 08:15:48,22.7
707033,M,34,237,458,2021-12-05 09:09:26,13.2

In [39]:
def splitdateime(x):
    return x.split(" ")[0]

In [40]:
good_df["Usage_Timestamp"]=good_df["Usage_Timestamp"].apply(splitdateime)
good_df

C:\Users\sdelc\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Genero_Usuario,Edad_Usuario,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration(Min)
8,M,64,27,35,2010-02-26,16.7
10,M,28,4,4,2010-02-28,2.6
11,F,31,15,20,2010-03-01,12.8
13,M,30,27,55,2010-03-02,17.4
18,M,29,50,54,2010-03-04,2.9
...,...,...,...,...,...,...
707024,M,35,129,328,2021-12-05,26.6
707025,M,40,192,253,2021-12-05,7.6
707030,M,36,77,219,2021-12-05,27.1
707031,M,36,295,438,2021-12-05,22.7
707033,M,34,237,458,2021-12-05,13.2

In [42]:
good_df.to_csv("Viajes_fixedv2.csv", index=False)