In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Colonias.csv"

# Read Purchasing File and store into Pandas data frame
colonia_data = pd.read_csv(file_to_load)
colonia_data.head()

,ID,Name,GeoShape,Alcaldia
0,0,LOMAS DE CHAPULTEPEC,"{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",MIGUEL HIDALGO
1,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",MIGUEL HIDALGO
2,2,DEL BOSQUE (POLANCO),"{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",MIGUEL HIDALGO
3,3,PEDREGAL DE SANTA URSULA I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",COYOACAN
4,4,AJUSCO I,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",COYOACAN

In [4]:
colonia_data.Alcaldia.unique()

array(['MIGUEL HIDALGO', 'COYOACAN', 'VENUSTIANO CARRANZA',
       'GUSTAVO A. MADERO', 'TLALPAN', 'XOCHIMILCO', 'MILPA ALTA',
       'IZTACALCO', 'AZCAPOTZALCO', 'ALVARO OBREGON', 'CUAUHTEMOC',
       'TLAHUAC', 'CUAJIMALPA DE MORELOS', 'IZTAPALAPA', 'BENITO JUAREZ',
       'LA MAGDALENA CONTRERAS', nan], dtype=object)

In [5]:
# File to Load (Remember to Change These)
file_to_load = "Estaciones.csv"

# Read Purchasing File and store into Pandas data frame
estaciones_data = pd.read_csv(file_to_load)
estaciones_data.head()

,ID,Name,Lat,Lon,districtName
0,124,124 CLAUDIO BERNARD-DR. LICEAGA,19.422392,-99.150358,Ampliacion Granada
1,159,159 HUATABAMPO-EJE 1 PTE. AV. CUAUHTÉMOC,19.407517,-99.155373,Ampliacion Granada
2,241,E241 EJERCITO NAL-JUAN VAZQUEZ DE LA MELLA,19.438620,-99.207580,Ampliacion Granada
3,243,243 MIGUEL DE CERVANTES SAAVEDRA-LAGO FILT,19.440839,-99.196712,Ampliacion Granada
4,350,350 JOSE CLEMENTE OROZCO-CORREGGIO,19.384062,-99.181482,Ampliacion Granada

In [6]:
estaciones_data.districtName.unique()

array(['Ampliacion Granada', 'Anzures', 'Acacias', 'Actipan',
       'Anahuac Mariano Escobedo', 'Ampliacion Napoles',
       'Anahuac Dos Lagos', 'Anahuac I', 'Buenavista',
       'Ciudad de los Deportes', 'Centro', 'Bosque de Chapultepec',
       'Condesa', 'Cuauhtemoc', 'Cuauhtemoc Pensil', 'Doctores',
       'Del Valle Centro', 'Del Valle Norte', 'Del Valle Sur', 'Escandon',
       'Extremadura Insurgentes', 'General Pedro Maria Anaya', 'Granada',
       'Hipodromo Condesa', 'Hipodromo', 'Insurgentes Mixcoac',
       'Irrigacion', 'Insurgentes San Borja', 'Juarez',
       'Lomas de Chapultepec Seccion V',
       'Lomas de Chapultepec Seccion III', 'Letran Valle',
       'Molino del Rey', 'Napoles', 'Narvarte Poniente', 'Noche Buena',
       'Piedad Narvarte', 'Polanco', 'Residencial Emperadores',
       'Roma Norte', 'Roma Sur', 'Santa Cruz Atoyac',
       'San Miguel Chapultepec ', 'Santa María Nonoalco',
       'San Pedro de los Pinos', 'San Rafael', 'Tabacalera',
       'Tlacoquemecatl', 'Xoco'], dtype=object)